---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h3 {
				padding-top: 1rem;
			}

			.bottom-space {
				height: 3rem;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<h1>Hello, User</h1>
			<p>
				Here you'll find three things:
				<ul>
					<li>Home page</li>
					<li>Notes</li>
					<li>About Me page</li>
				</ul>
			</p>

			<h3>Home</h3>
			This one you're seeing.

			<h3>Notes</h3>
			Do you remember how to get the current year in Java? Or how to use the
			<code>qsort()</code> function in C++? The purpose of this page is to
			serve as a mini documentation about the most trivial things about the
			technologies I am using at work or at home. Also, my goal is to spend
			less time searching these kind of stuff on Stack Overflow and ChatGPT.

			<h3>About Me</h3>
			TL;DR: Computer Engineer working as a Flutter Developer. See <a
				href="/about">About</a
			> for the longer version.
			<div class="bottom-space"></div>
		</main>
		<Footer />
	</body>
</html>
