---
import { LINKEDIN_PROFILE_URL, GITHUB_PROFILE_URL } from "../consts";
import SocialIcon from "./SocialIcon.astro";
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Victor Emanuel. All rights reserved.
	<div class="social-links">
		<SocialIcon link={LINKEDIN_PROFILE_URL} screenReaderLabel="My LinkedIn">
			<!-- More icons in: https://icon-sets.iconify.design/ -->
			<Icon name="mdi:linkedin" size={42} />
		</SocialIcon>

		<SocialIcon link={GITHUB_PROFILE_URL} screenReaderLabel="My Github">
			<Icon name="mdi:github" size={42} />
		</SocialIcon>
	</div>
</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
</style>
